<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Event Planner</title>
    <link rel="icon" href="images/planner.png">

    <!--JQuery CDN Links-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <!--Bootstrap CDN Links-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Importing custom css  -->
    <link rel="stylesheet" href="css/Index.css">
</head>
<body style="align-content: center; background-color: #9fbfff;">
<div class="center container-fluid">
    <div class="row no-gutter">
        <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image" style="background: url(images/bg-2.png); background-size: cover;">
        </div>
        <div class="col-md-8 col-lg-6">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                            <h3 class="login-heading mb-4 text-center" style="font-family: Georgia, serif;">Welcome to Event Planner</h3>
                            <form>
                                <img src="images/form-image.png" width="200px" height="200px" class="rounded" style="margin: auto;display: block" alt="Event Planner">
                                <br/>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a class="btn btn-lg btn-google btn-block btn-outline" style="font-family: Georgia, serif;"
                                            href="https://accounts.google.com/o/oauth2/v2/auth?redirect_uri=http://localhost:8081/api/google/grant&prompt=consent&response_type=code&client_id=203504605430-sniaov4av6akva1nid5cg5op8trb2p9u.apps.googleusercontent.com&scope=https://www.googleapis.com/auth/calendar&access_type=offline">
                                            <img src="images/google.png" width="32px" height="32px"> Continue with Google
                                        </a>
                                    </div>
                                </div>
                                <br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>